@font-face {
    font-family: "Marvel";
    src: url("../fonst/Marvel/Marvel-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonst/Montserrat/Montserrat-Regular.otf");
}

@font-face {
    font-family: "Montserrat Subrayada";
    src: url("../fonst/MontserratSubrayada/MontserratSubrayada-Regular.ttf");
}

body {
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px !important;
    font-weight: 700;
    color: black;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    height: 100px;
    border-spacing: 5px;
    overflow-y: auto;
}

table, th, td {
    border: black solid 1px;
    border-collapse: separate !important;
}

th, td {
    padding: 15px;
}

input:not([type="submit"][type="checkbox"]):valid {
    box-shadow: 0 5px 5px -5px #2ECC71 !important;
    border: solid 2px white;
    border-bottom-color: #2ECC71;
    background-color: rgb(254, 254, 254);
}

input:not([type="submit"]):invalid {
    box-shadow: 0 5px 5px -5px red !important;
    border: solid 2px white;
    border-bottom-color: red;
    background-color: rgb(254, 254, 254);
}

input:not([type="submit"]) + .input-requirements {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-out;
}

input:not([type="submit"]):hover + .input-requirements,
input:not([type="submit"]):focus + .input-requirements,
input:not([type="submit"]):active + .input-requirements {
    max-height: 1000px;
    transition: max-height 1s ease-out;
}

.input-requirements {
    font-size: 1.3rem;
    font-style: italic;
    text-align: left;
    list-style: disc;
    max-width: 900px;
    margin: 10px auto !important;
    color: rgb(150, 150, 150);
}

.input-requirements li.invalid {
    color: #e74c3c;
}

.input-requirements li.valid {
    color: #2ecc71;
}

.token_li {
    font-size: 93%;
}

.input-requirements li.valid:after {
    display: inline-block;
    padding-left: 10px;
    content: "\2713";
}

:root {
    --fh-font-family: 'Source Sans Pro', sans-serif;
    --fh-font-size: 15px;
    --fh-font-color: rgb(40, 40, 40);
    --fh-border-radius: 3px;
    --fh-border-width: 1px;
    --fh-border-style: solid;
    --fh-border-color: rgb(200, 200, 200);
    --fh-input-height: 40px;
    --fh-input-width: 250px;
    --fh-input-max-width: 400px;
    --fh-input-bg-color: rgb(250, 250, 250);
    --fh-focus-bg-color: var(--fh-input-bg-color);
    --fh-focus-border-color: #000;
    --fh-focus-font-color: var(--fh-font-color);
    --fh-select-vendor-styling: none;
    --fh-button-height: 40px;
    --fh-button-width: 100%;
    --fh-button-max-width: 200px;
    --fh-button-font-color: var(--fh-font-color);
    --fh-button-bg-color: rgba(255, 219, 58, 0.3);
    --fh-button-hover-bg-color: rgb(255, 219, 58);
    --fh-button-hover-font-color: var(--fh-font-color);
    --fh-layout-display: block;
    --fh-layout-margin: 10px auto;
    --fh-layout-text-align: center;
}

input,
textarea,
select,
option,
optgroup,
button,
legend,
fieldset {
    box-sizing: border-box;
    outline: none;
    font-family: var(--fh-font-family);
    font-size: var(--fh-font-size);
    color: var(--fh-font-color);
    vertical-align: top;
    display: var(--fh-layout-display);
    margin: var(--fh-layout-margin);
    text-align: var(--fh-layout-text-align);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list],
input[type="file"],
select,
textarea {
    width: var(--fh-input-width);
    padding: calc(var(--fh-input-height) / 5);
    background-color: var(--fh-input-bg-color);
    border-radius: var(--fh-border-radius);
    border-width: var(--fh-border-width);
    border-style: var(--fh-border-style);
    border-color: var(--fh-border-color);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list] {
    height: var(--fh-input-height);
    -webkit-appearance: none;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"] {
    height: var(--fh-button-height);
    width: var(--fh-button-width);
    max-width: var(--fh-button-max-width);
    background-color: var(--fh-button-bg-color);
    padding: calc(var(--fh-input-height) / 5);
    cursor: pointer;
    color: var(--fh-button-font-color);
    font-weight: 700;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: var(--fh-border-radius);
    border-width: var(--fh-border-width);
    border-style: var(--fh-border-style);
    border-color: var(--fh-border-color);
}

input[type="image"] {
    text-align: center;
    padding: calc(var(--fh-input-height) / 5);
}

input[disabled],
textarea[disabled],
select[disabled],
option[disabled],
button[disabled] {
    cursor: not-allowed;
}

input:focus,
textarea:focus,
select:focus,
option:focus,
button:focus {
    background-color: var(--fh-focus-bg-color);
    border-color: var(--fh-focus-border-color);
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
    outline: var(--fh-focus-border-color) solid 2px;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
    background-color: var(--fh-button-hover-bg-color);
    color: var(--fh-button-hover-font-color);
}

input:not([type="submit"]) + .input-requirements {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-out;
}

input:not([type="submit"]):hover + .input-requirements,
input:not([type="submit"]):focus + .input-requirements,
input:not([type="submit"]):active + .input-requirements {
    max-height: 1000px;
    transition: max-height 1s ease-in;
}

.my_label {
    font-size: 15px;
    text-align: center;
    margin-bottom: 30px;
}

#access_token {
    margin-top: 30px;
}

.my_div {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.label_text {
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
}

.super_label {
    margin-top: 30px;
    font-size: 30px;
    font-family: Lato, sans-serif;
}

.left_side {
    margin-top: 60px;
}

.right_side {
    margin-top: 60px;
}

.generate_btn {
    margin-top: 30px;
}

.token_area {
    width: 400px;
    font-size: 25px;
    resize: none;
    box-sizing: border-box;
}

.send_btn {
    width: fit-content;
    margin-top: 30px;
    height: 50px;
    margin-left: 15px;
    alignment: center;
}

.send_btn:disabled {
    cursor: not-allowed;
}

.btn_text {
    margin-left: 20px;
    font-size: 20px;
    font-family: aakar, sans-serif;
}

.count_input {
    margin-top: 30px;
    font-size: 20px;
    margin-left: 40px;
    width: 20% !important;
}

.generate_btn {
    margin-left: 50px;
}

.change_token {
    font-size: 15px;
}

.add_img {
    width: 30px;
    height: 30px;
}

#pw_structure {
    text-align: center;
    font-size: 25px;
}

.table_header {
    text-align: center;
    font-size: 25px;
}

.table_data {
    text-align: center;
    font-size: 20px;
    box-shadow: none !important;
    border-bottom-color: white;
}

.table_scroll {
    height: 300px;
    overflow-y: scroll;
    margin-top: 20px;
    margin-bottom: 40px;
}

.my_btn_div {
    text-align: center;
}

.table_btn {
    margin-right: 5px;
}

.table_input_super {
    width: 100% !important;
    height: 40px !important;
}

.table_input_super:hover {
    cursor: pointer;
    background-color: rgba(255, 219, 58, 0.3);
}