.container-fluid{
    padding: 0;
}

header div {
    height: 60px;
    background-color: #49559c;
}
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#rectangle {
    width: 40px;
    height: 30px;
    margin: 5px;
}

#rectangleButton{
    width: 60px;
    height: 50px;
    padding: 0;
    margin-top: 8px;
    border: 0px;
}

header .col-1 {
    padding: 5px 0 0 10px;
}

#vector {
    margin-left: 0;
    /*padding-top: 20px;*/
    margin-top: 5px;
    width: 8px;
    height: 30px;
    transform: rotate(0deg);
}

#settings{
    width: 50px;
    height: 50px;
    padding: 0;
    margin-top: 0;
    border: 0px;
}
#arrow {
    padding-left: 0px;
}

ul li {
    display: block;
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}
#search {
    width: 90%;
    height: 35px;
    margin: 5%;
    font-size: 24px;
    /*border-radius: 5px;*/
    /*border: #000 1px solid;*/
    color: #111111;
}


.no-paddings {
    padding: 0 !important;
}

.avatar {
    height: 50px;
    width: 50px;
    margin: 5px 5px 5px 20px;
}

.name p {
    font-family: Helvetica, serif;
    font-size: 16px;
    color: #000;
    margin: 5px 5px 5px 20px;
}

.name {
    padding-left: 0;
}

.abonent {
    margin-right: 0;
    cursor: pointer;
    height: 60px;
}

#searchArea {
    background-color: #d6e5ff;
}

#contacts {
    overflow-y: scroll;
    padding: 0px 15px 0px 0px;
}

#chatHeader {
    height: 60px;
    width: 100%;
    background-color: #d6e5ff;
    border-radius: 0px 0px 15px 15px;
}

#chatContainer {
    width: 816px;
}

#chat {
    overflow-y: scroll;
}

#addContentIcon {
    height: 40px !important;
    width: 40px;
    padding: 0;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 15px;
}

#messageArea {
    width: 100%;
    height: 35px;
    margin: 12px;
    font-size: 16px;
    /*border-radius: 5px;*/
    border: #000 1px solid;
    color: #111111;
}

#sendMessageBar {
    height: 60px;
    z-index: -100;
    background: #d6e5ff;
    border-radius: 15px 15px 0px 0px;
}

#addContentIcon {
    height: 60px;
    margin-left: 10px;
}


#sendButton {
    padding: 0;
    cursor: pointer;
    margin-top: 5px;
    height: 50px;
}

.userId {
    display: none;
}

.message {
    background-color: #d7f1f4;
    /*background-color: #d8f4d7;*/
    border-radius: 15px;
    border: white solid 5px;
}

.message #name {
    text-align: left;
    color: #555;
    font-size: 16px;
}

.message #date {
    text-align: right;
    color: #555;
    font-size: 14px;
}
.message #data {
    font-size: 12px;
    color:black;
}

.selfMessage {
    background-color: #c4e2c5;
    border-radius: 15px;
    border: white solid 5px;
}

.selfMessage #name {
    text-align: left;
    color: #555;
    font-size: 16px;
}

.selfMessage #date {
    text-align: right;
    color: #555;
    font-size: 14px;
}
.selfMessage #data {
    font-size: 12px;
    color:black;
}