@font-face {
    font-family: "Marvel";
    src: url("../fonst/Marvel/Marvel-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonst/Montserrat/Montserrat-Regular.otf");
}

@font-face {
    font-family: "Montserrat Subrayada";
    src: url("../fonst/MontserratSubrayada/MontserratSubrayada-Regular.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("../fonst/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonst/Helvetica/Helvetica-Regular.otf");
}

body {
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    background-color: rgb(245, 245, 245);
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px !important;
    font-weight: 700;
    color: black;
}

h1 {
    text-align: center;
}

.sign_in_up_ul {
    display: inline-flex;
}

.offer__title h1 {
    position: absolute;
    font-family: 'Montserrat', sans-serif !important;
}

.header {
    background: #49559C;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 50px;
}

.footer {
    height: 20px;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.menu div {
    padding: 0;
}

.menu__item button {
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: 0;
    height: 50px;
    background-color: #2B3C9E;
}

.menu__item button:hover {
    border-bottom: 3px solid #F2994A;
    color: #F2994A;
}

.input_requirements li {
    display: list-item;
}

.edits__item {
    margin: 0 auto;
}

.edit {
    height: 40px;
    margin-top: 10px;
}

.registration_edit_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 20px;
}

.final_edit_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-top: 50px;
}

.registration_edits__item {
    margin: 0 auto;
}

.registration_edit {
    height: 40px;
    width: 250px;
}

#fingerprint {
    height: 100px;
    width: 100px;
}

.offer__swallow {
    padding-top: 30px;
}

.swallow {
    padding-left: 50px;
}

.swallow__img_1 {
    width: 600px;
    height: 420px;
    opacity: 0.1;
}

.swallow__img_2 {
    width: 450px;
    height: 450px;
    opacity: 0.7;
}

.button {
    padding-top: 200px;
}

.button_sign_in {
    padding-top: 20px;
}

.button__login_as_user {
    width: 120px;
    display: block;
    background-color: #60953A !important;
    border-radius: 100px !important;
    color: white !important;
}

.login_btn {
    display: block;
    width: 70px;
    height: 35px;
    position: absolute;
    background-color: #60953A;
    border-radius: 50px;
    color: white;
}

.next_btn {
    margin-top: 30px;
    width: 100px;
    display: block;
    background-color: rgba(76, 123, 42, 0.93) !important;
    border-radius: 100px !important;
    color: white;
    font-family: 'Marvel', sans-serif;
}

.skip_btn, .previous_btn {
    margin-top: 30px;
    border: 2px solid #679049 !important;
    width: 100px;
    display: block;
    border-radius: 100px !important;
    font-family: 'Marvel', sans-serif;
}

.exit_btn {
    margin-top: 30px;
    width: 100px;
    display: block;
    background-color: rgba(123, 42, 42, 0.93) !important;
    border-radius: 100px !important;
    color: white;
    font-family: 'Marvel', sans-serif;
}

.miti__title {
    font-size: 9px;
}

.offer {
    text-align: center;
}

.offer__title h1 {
    font-family: Helvetica, sans-serif !important;
}

.rectangle {
    width: 70%;
    height: 350px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgba(196, 196, 196, 0.53);
}

.sing_up_label {
    text-decoration: underline;
    text-decoration-color: darkblue;
    padding-top: 8px;
    font-size: 15px;
}

.admin_label {
    text-decoration: underline;
    text-decoration-color: darkblue;
    font-size: 11px;
}

.my_label {
    font-size: 15px;
    width: 250px;
}

.button_and_link {
    margin: 0 20px;
}

input:not([type="submit"]):valid {
    box-shadow: 0 5px 5px -5px #2ECC71 !important;
    border: solid 2px white;
    border-bottom-color: #2ECC71;
    background-color: rgb(254, 254, 254);
}

input:not([type="submit"]):invalid {
    box-shadow: 0 5px 5px -5px red !important;
    border: solid 2px white;
    border-bottom-color: red;
    background-color: rgb(254, 254, 254);
}

input:not([type="submit"]) + .input-requirements {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-out;
}

input:not([type="submit"]):hover + .input-requirements,
input:not([type="submit"]):focus + .input-requirements,
input:not([type="submit"]):active + .input-requirements {
    max-height: 1000px;
    transition: max-height 1s ease-out;
}

.input-requirements {
    font-size: 1.3rem;
    font-style: italic;
    text-align: left;
    list-style: disc;
    max-width: 900px;
    margin: 10px auto !important;
    color: rgb(150, 150, 150);
}

.input-requirements li.invalid {
    color: #e74c3c;
}

.input-requirements li.valid {
    color: #2ecc71;
}

.login_li {
    font-size: 93%;
}

.register_li {
    font-size: 93%;
}

.input-requirements li.valid:after {
    display: inline-block;
    padding-left: 10px;
    content: "\2713";
}

:root {
    --fh-font-family: 'Source Sans Pro', sans-serif;
    --fh-font-size: 15px;
    --fh-font-color: rgb(40, 40, 40);
    --fh-border-radius: 3px;
    --fh-border-width: 1px;
    --fh-border-style: solid;
    --fh-border-color: rgb(200, 200, 200);
    --fh-input-height: 40px;
    --fh-input-width: 250px;
    --fh-input-max-width: 400px;
    --fh-input-bg-color: rgb(250, 250, 250);
    --fh-focus-bg-color: var(--fh-input-bg-color);
    --fh-focus-border-color: #000;
    --fh-focus-font-color: var(--fh-font-color);
    --fh-select-vendor-styling: none;
    --fh-button-height: 40px;
    --fh-button-width: 100%;
    --fh-button-max-width: 200px;
    --fh-button-font-color: var(--fh-font-color);
    --fh-button-bg-color: rgba(255, 219, 58, 0.3);
    --fh-button-hover-bg-color: rgb(255, 219, 58);
    --fh-button-hover-font-color: var(--fh-font-color);
    --fh-layout-display: block;
    --fh-layout-margin: 10px auto;
    --fh-layout-text-align: center;
}

input,
textarea,
select,
option,
optgroup,
button,
legend,
fieldset {
    box-sizing: border-box;
    outline: none;
    font-family: var(--fh-font-family);
    font-size: var(--fh-font-size);
    color: var(--fh-font-color);
    vertical-align: top;
    display: var(--fh-layout-display);
    margin: var(--fh-layout-margin);
    text-align: var(--fh-layout-text-align);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list],
input[type="file"],
select,
textarea {
    width: var(--fh-input-width);
    padding: calc(var(--fh-input-height) / 5);
    background-color: var(--fh-input-bg-color);
    border-radius: var(--fh-border-radius);
    border-width: var(--fh-border-width);
    border-style: var(--fh-border-style);
    border-color: var(--fh-border-color);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list] {
    height: var(--fh-input-height);
    -webkit-appearance: none;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"] {
    height: var(--fh-button-height);
    width: var(--fh-button-width);
    max-width: var(--fh-button-max-width);
    background-color: var(--fh-button-bg-color);
    padding: calc(var(--fh-input-height) / 5);
    cursor: pointer;
    color: var(--fh-button-font-color);
    font-weight: 700;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: var(--fh-border-radius);
    border-width: var(--fh-border-width);
    border-style: var(--fh-border-style);
    border-color: var(--fh-border-color);
}

input[type="image"] {
    text-align: center;
    padding: calc(var(--fh-input-height) / 5);
}

input[disabled],
textarea[disabled],
select[disabled],
option[disabled],
button[disabled] {
    cursor: not-allowed;
}

input:focus,
textarea:focus,
select:focus,
option:focus,
button:focus {
    background-color: var(--fh-focus-bg-color);
    border-color: var(--fh-focus-border-color);
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
    outline: var(--fh-focus-border-color) solid 2px;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
    background-color: var(--fh-button-hover-bg-color);
    color: var(--fh-button-hover-font-color);
}

input:not([type="submit"]) + .input-requirements {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-out;
}

input:not([type="submit"]):hover + .input-requirements,
input:not([type="submit"]):focus + .input-requirements,
input:not([type="submit"]):active + .input-requirements {
    max-height: 1000px;
    transition: max-height 1s ease-in;
}