{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login as admin</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'media/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'style/admin_style.css' %}">
    <link rel="stylesheet" href="{% static 'libraries/Bootstrap v4.1.1/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'libraries/Bootstrap v4.1.1/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'libraries/Bootstrap v4.1.1/css/bootstrap-reboot.css' %}">
    <script src="{% static 'libraries/jQuery-3.3.1/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'libraries/Popper/tooltip.js' %}"></script>
    <script src="{% static 'libraries/Bootstrap v4.1.1/js/bootstrap.js' %}"></script>
    <script src="{% static 'libraries/Bootstrap v4.1.1/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static "logic/registration_login/ajax.js" %}"></script>
</head>
<body>
<div class="container-fluid my_div">
    <div class="row justify-content-center">
        <form onsubmit="return false;" id="login_form">
            <ul class="edits">
                <li class="edits__item">
                    <label for="access_token" class="my_label">
                        <span class="token_span">Access token</span>
                        <input type="password" class="edit" id="access_token" name="access_token"
                               autocomplete="off" required/>
                        <ul class="input-requirements">
                            <li class="token_li">Contains at least 1 number</li>
                            <li class="token_li">Contains at least 1 lowercase letter</li>
                            <li class="token_li">Contains at least 1 uppercase letter</li>
                        </ul>
                    </label>
                </li>
                <li class="button_and_link">
                    <button class="btn button__login_as_admin" id="submit_btn"
                            onclick="login_admin()">Login
                    </button>
                </li>
            </ul>
        </form>
    </div>
</div>
<script src="{% static "logic/registration_login/admin_login.js" %}"></script>
</body>
</html>