{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'media/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'style/admin_style.css' %}">
    <link rel="stylesheet" href="{% static 'libraries/Bootstrap v4.1.1/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'libraries/Bootstrap v4.1.1/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'libraries/Bootstrap v4.1.1/css/bootstrap-reboot.css' %}">
    <script src="{% static 'libraries/jQuery-3.3.1/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'libraries/Popper/tooltip.js' %}"></script>
    <script src="{% static 'libraries/Bootstrap v4.1.1/js/bootstrap.js' %}"></script>
    <script src="{% static 'libraries/Bootstrap v4.1.1/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static "logic/registration_login/ajax.js" %}"></script>
</head>
<body>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 top_page" align="center">
        <label class="super_label">
            Admin`s page. Generate tokens for your power structure users here!
        </label>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 left_side" align="center">
        <div class="row justify-content-center">
            <div class="d-flex">
                <input type="number" id="token_counter" class="count_input"/>
                <input type="button" value="Generate tokens" class="generate_btn" onclick="generate_tokens();"/>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 right_side" align="center">
        <div class="copy_div">
            <label for="token" class="label_text">Generated token</label>
            <textarea data-autoresize rows="8" id="token" class="token_area" disabled></textarea>
            <button class="send_btn" onclick="send_super_admin_tokens();">
                <img src="{% static 'media/send.svg' %}" alt="Send to server"/>
                <span class="btn_text">Send to server</span>
            </button>
        </div>
    </div>
</div>
<script src="{% static "logic/registration_login/super_admin.js" %}"></script>
</body>
</html>