{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SWALLOW login</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'media/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'style/chat.css' %}">
    <link rel="stylesheet" href="{% static 'libraries/Bootstrap v4.1.1/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'libraries/Bootstrap v4.1.1/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'libraries/Bootstrap v4.1.1/css/bootstrap-reboot.css' %}">
    <script src="{% static 'libraries/jQuery-3.3.1/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'libraries/Popper/tooltip.js' %}"></script>
    <script src="{% static 'libraries/Bootstrap v4.1.1/js/bootstrap.js' %}"></script>
    <script src="{% static 'libraries/Bootstrap v4.1.1/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'logic/chat/Messaging.js' %}"></script>
</head>
<body>
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1 col-md-2 col-4 d-flex">
                <div class="btn" href="#" id="rectangleButton">
                    <img id="rectangle" src="{% static 'media/Rectangle 2.png' %}">
                </div>
                <div class="btn" href="#" id="arrow">
                    <img id="vector" src="{% static 'media/Vector.png' %}">
                </div>
            </div>
            <div class="col"></div>
            <div class="col-lg-1 col-md-2 col-3 ml-auto">
                <div class="btn" id="options_btn" href="#">
                    <img src="{% static 'media/settings_icon.png' %}" alt="settings" id="settings">
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-4 col-md-3 " id="contacts">
            <ul  class="no-paddings">
                <li >
                    <div class="row" id="searchArea">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <input type="text" id="search" autocomplete="off" placeholder=" &#x1F50E  Search">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        {# TODO #}
        <div class="col-12 col-sm-8 col-md-9" id="chatContainer" >
            <div class="row">
                <div class="col" id="chatHeader">

                </div>
            </div>
            <div class="row">
                <div id="chat" class="col">
                    <div id="chatStart"></div>
                </div>
            </div>
{#            TODO Динамічне виїжджання#}
            <div class="row" id="sendMessageBar">
                <div class="col-1">
                    <img src="{% static 'media/paperClib.png' %}" id="addContentIcon" alt="">
                </div>
                <div class="col-sm-9 col-8" >
                    <input type="text" id="messageArea" autocomplete="off" placeholder="Message">
                </div >
                <div class="col-1">
                    <img  id="sendButton" src="{% static 'media/sendMessageButton.png' %}" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
    <script src="{% static "logic/chat/Chat.js" %}"></script>
</body>
</html>
