{% load static %}
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SWALLOW login</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'media/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'style/new_start_up.css' %}">
    <link rel="stylesheet" href="{% static 'libraries/Bootstrap v4.1.1/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'libraries/Bootstrap v4.1.1/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'libraries/Bootstrap v4.1.1/css/bootstrap-reboot.css' %}">
    <script src="{% static 'libraries/jQuery-3.3.1/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'libraries/Popper/tooltip.js' %}"></script>
    <script src="{% static 'libraries/Bootstrap v4.1.1/js/bootstrap.js' %}"></script>
    <script src="{% static 'libraries/Bootstrap v4.1.1/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static "logic/registration_login/ajax.js" %}"></script>
</head>
<body>
<header id="header" class="header">
    <div class="container-fluid" style="padding: 0">
        <div class="d-flex justify-content-end menu">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-4 menu__item">
                <button class="sign_in btn1" id="sign_in_btn" onclick="open_tab(event, 'sign_in_html');">Sign in
                </button>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-4 menu__item">
                <button class="sign_up btn1" onclick="open_tab(event, 'sign_up_html');">Sign up</button>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-4 menu__item">
                <button class="about btn1" onclick="open_tab(event, 'about_html');">About</button>
            </div>
        </div>
    </div>
</header>
<section id="section" class="section">
    <div class="container tab" id="sign_in_html" align="center">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="offer">
                    <h1 class="offer__swallow">
                        SWALLOW
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-4 col-sm-3">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-4 col-sm-3">
                        <form onsubmit="return false;" id="login_form">
                            <ul class="edits">
                                <li class="edits__item">
                                    <label for="server" class="my_label">
                                        <span>Server IP</span>
                                        <input type="text" class="edit" id="server" name="server" autocomplete="off"
                                               required/>
                                        <ul class="input-requirements">
                                            <li class="login_li">Must be like IP address</li>
                                        </ul>
                                    </label>
                                </li>
                                <li class="edits__item">
                                    <label for="user_id" class="my_label">
                                        <span>User ID</span>
                                        <input type="text" class="edit" id="user_id" name="user_id" autocomplete="off"
                                               required/>
                                        <ul class="input-requirements">
                                            <li class="login_li">Need look like this: name_surname</li>
                                            <li class="login_li">Need to consist underscore</li>
                                        </ul>
                                    </label>
                                </li>
                                <li class="edits__item">
                                    <label for="password" class="my_label">
                                        <span>Password</span>
                                        <input type="password" class="edit" id="password" name="password"
                                               autocomplete="off"
                                               minlength="8" maxlength="25" required/>
                                        <ul class="input-requirements">
                                            <li class="login_li">At least 8 characters long</li>
                                            <li class="login_li">Contains at least 1 number</li>
                                            <li class="login_li">Contains at least 1 lowercase letter</li>
                                            <li class="login_li">Contains at least 1 uppercase letter</li>
                                        </ul>
                                    </label>
                                </li>
                                <ul class="sign_in_up_ul">
                                    <li class="button_and_link">
                                        <button class="btn button__login_as_user" id="submit_btn"
                                                onclick="sign_in();">Sign in
                                        </button>
                                    <li class="button_and_link">
                                        <a onclick="open_tab(event, 'sign_up_html');">
                                            <label class="sing_up_label" disabled>Sign up</label>
                                        </a>
                                    </li>
                                </ul>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-3 col-sm-2">
                <div class="swallow">
                    <img src="{% static 'media/swallow.jpg' %}" alt="Swallow" class="swallow__img_2">
                </div>
            </div>
        </div>
    </div>
    <div class="container tab" id="sign_up_html">
        <form onsubmit="return false;" id="registration_form">
            <div class="row">
                <div class="container tab_sign_up" id="first">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="offer">
                                <h1 class="offer__swallow">
                                    SWALLOW
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="offer">
                                <ul class="edits">
                                    <li class="registration_edit_title">
                                        <label for="first_name">
                                            <span>First name</span>
                                            <input type="text" class="registration_edit" id="first_name"
                                                   name="first_name" autocomplete="off"/>
                                            <ul class="input-requirements">
                                                <li class="register_li">Must be like this: Name</li>
                                            </ul>
                                        </label>
                                    </li>
                                    <li class="registration_edit_title">
                                        <label for="last_name">
                                            <span>Last name</span>
                                            <input type="text" class="registration_edit" id="last_name" name="last_name"
                                                   autocomplete="off"/>
                                            <ul class="input-requirements">
                                                <li class="register_li">Must be like this: Surname</li>
                                            </ul>
                                        </label>
                                    </li>
                                    <li class="registration_edit_title">
                                        <label for="user_reg_id">
                                            <span>User ID</span>
                                            <input type="text" class="registration_edit" id="user_reg_id"
                                                   name="user_reg_id"
                                                   autocomplete="off"/>
                                            <ul class="input-requirements">
                                                <li class="register_li">Need look like this: name_surname</li>
                                                <li class="register_li">Need to consist underscore</li>
                                            </ul>
                                        </label>
                                    </li>
                                    <li class="registration_edits__item">
                                        <input type="button" class="btn next_btn"
                                               onclick="nextRegistrationTab(event, 'second')" value="next">
                                    </li>
                                    <li class="registration_edits__item">
                                        <input type="button" class="btn exit_btn" id="exit"
                                               onclick="open_tab(event, 'sign_in_html');" value="exit">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container tab_sign_up" id="second">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="offer">
                                <h1 class="offer__swallow">
                                    SWALLOW
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="offer">
                                <ul class="edits">
                                    <li class="registration_edit_title">
                                        <label for="token">
                                            <span>Token</span>
                                            <input type="text" class="registration_edit" id="token"
                                                   name="token" autocomplete="off"/>
                                            <ul class="input-requirements">
                                                <li class="register_li">Must include more than 10 symbols</li>
                                            </ul>
                                        </label>
                                    </li>
                                    <li class="registration_edit_title">
                                        <label for="military_rank">
                                            <span>Military rank</span>
                                            <select class="registration_edit" id="military_rank" name="military_rank"
                                                    onchange="onMilitaryRankChange();">
                                                <option value="MR">---Military rank---</option>
                                            </select>
                                            <ul class="input-requirements">
                                                <li class="register_li">Must be choose one military rank</li>
                                            </ul>
                                        </label>
                                    </li>
                                    <li class="registration_edit_title">
                                        <label for="position">
                                            <span>Position</span>
                                            <input type="text" class="registration_edit" id="position"
                                                   name="position" autocomplete="off"/>
                                            <ul class="input-requirements">
                                                <li class="register_li">Must be not empty</li>
                                            </ul>
                                        </label>
                                    </li>
                                    <li class="registration_edits__item">
                                        <input type="button" class="btn next_btn"
                                               onclick="nextRegistrationTab(event, 'third')" value="next">
                                    <li class="registration_edits__item">
                                        <input type="button" class="btn previous_btn"
                                               onclick="previousRegistrationTab(event, 'first')" value="previous">
                                    </li>
                                    <li class="registration_edits__item">
                                        <input type="button" class="btn exit_btn" id="exit"
                                               onclick="open_tab(event, 'sign_in_html');" value="exit">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container tab_sign_up" id="third">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="offer">
                                <h1 class="offer__swallow">
                                    SWALLOW
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="offer">
                                <ul class="edits">
                                    <li class="registration_edit_title">
                                        <label for="domain">
                                            <span>Your domain</span>
                                            <input type="text" class="registration_edit" id="domain" name="domain"
                                                   autocomplete="off"/>
                                            <ul class="input-requirements">
                                                <li class="register_li">Must be like IP address</li>
                                            </ul>
                                        </label>
                                    </li>
                                    <li class="registration_edit_title">
                                        <label for="central_domain">
                                            <span>Central domain of your<br>department</span>
                                            <input type="text" class="registration_edit" id="central_domain"
                                                   name="central_domain" autocomplete="off"/>
                                            <ul class="input-requirements">
                                                <li class="register_li">Must be like IP address</li>
                                            </ul>
                                        </label>
                                    </li>
                                    <li class="registration_edits__item">
                                        <input type="button" class="btn next_btn"
                                               onclick="nextRegistrationTab(event, 'fourth')" value="next">
                                    </li>
                                    <li class="registration_edits__item">
                                        <input type="button" class="btn previous_btn"
                                               onclick="previousRegistrationTab(event, 'second')" value="previous">
                                    </li>
                                    <li class="registration_edits__item">
                                        <input type="button" class="btn exit_btn" id="exit"
                                               onclick="open_tab(event, 'sign_in_html');" value="exit">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container tab_sign_up" id="fourth">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="offer">
                                <h1 class="offer__swallow">
                                    SWALLOW
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="offer">
                                <ul class="edits">
                                    <li class="fingerprint_photo">
                                        <img src="{% static 'media/fingerprint.png' %}" id="fingerprint"/>
                                    </li>
                                    <li class="registration_edit_title">
                                        <label>Use your finger to make fingerprint</label>
                                    </li>
                                    <li class="registration_edits__item">
                                        <input type="button" class="btn next_btn"
                                               onclick="nextRegistrationTab(event, 'fifth')" value="next">
                                    </li>
                                    <li class="registration_edits__item">
                                        <input type="button" class="btn skip_btn"
                                               onclick="nextRegistrationTab(event, 'fifth')" value="skip">
                                    </li>
                                    <li class="registration_edits__item">
                                        <input type="button" class="btn previous_btn"
                                               onclick="previousRegistrationTab(event, 'third')" value="previous">
                                    </li>
                                    <li class="registration_edits__item">
                                        <input type="button" class="btn exit_btn" id="exit"
                                               onclick="open_tab(event, 'sign_in_html');" value="exit">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container tab_sign_up" id="fifth">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="offer">
                                <h1 class="offer__swallow">
                                    SWALLOW
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="offer">
                                <ul class="edits">
                                    <li class="registration_edit_title">
                                        <label for="new_password">
                                            <span>Enter your password</span>
                                            <input type="password" class="registration_edit" id="new_password"
                                                   name="new_password" autocomplete="off"/>
                                            <ul class="input-requirements">
                                                <li class="register_li">At least 8 characters long</li>
                                                <li class="register_li">Contains at least 1 number</li>
                                                <li class="register_li">Contains at least 1 lowercase letter</li>
                                                <li class="register_li">Contains at least 1 uppercase letter</li>
                                            </ul>
                                        </label>
                                    </li>
                                    <li class="registration_edit_title">
                                        <label for="repeated_new_password">
                                            <span>Repeat your password</span>
                                            <input type="password" class="registration_edit" id="repeated_new_password"
                                                   name="repeated_new_password" autocomplete="off"/>
                                            <ul class="input-requirements">
                                                <li class="register_li">Must be like another password</li>
                                            </ul>
                                        </label>
                                    </li>
                                    <li class="registration_edits__item">
                                        <input type="button" class="btn next_btn"
                                               onclick="nextRegistrationTab(event, 'sixth')" value="next">
                                    </li>
                                    <li class="registration_edits__item">
                                        <input type="button" class="btn previous_btn"
                                               onclick="previousRegistrationTab(event, 'fourth')" value="previous">
                                    </li>
                                    <li class="registration_edits__item">
                                        <input type="button" class="btn exit_btn" id="exit"
                                               onclick="open_tab(event, 'sign_in_html');" value="exit">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container tab_sign_up" id="sixth">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="rectangle" align="center">
                                <ul class="edits">
                                    <li class="final_edit_title">
                                        <label>Your nickname in<br>system is<br>$generated_value$</label>
                                    </li>
                                    <li class="final_edit_title">
                                        <label>Your server<br>in system is<br>$generated_value$</label>
                                    </li>
                                    <li class="registration_edits__item">
                                        <button class="btn next_btn" id="submit_btn" onclick="sign_up()">submit</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container tab" id="about_html">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="offer">
                    <h1 class="offer__title">
                        "Swallow" - is an idea of modules and decentralized system for communication between power
                        forces of Ukraine
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <div class="swallow">
                    <img src="{% static 'media/swallow.jpg' %}" alt="Swallow" class="swallow__img_1">
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                <div class="button">
                    <button class="btn button__login_as_user" onclick="open_tab(event, 'sign_in_html');">
                        Login as user
                    </button>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div align="right">
                    <label class="admin_label" onclick="login_as_admin();">Login as admin</label>
                </div>
            </div>
        </div>
    </div>
</section>
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="offer_miti">
                    <label class="miti__title">
                        MITI. KAF22 ed
                    </label>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="{% static "logic/registration_login/new_start_up.js" %}"></script>
<script>
    document.getElementById("sign_in_btn").click();
    tabContent = document.getElementsByClassName("tab_sign_up");
    for (let i = 0; i < tabContent.length; i++) {
        tabContent[i].style.display = "none";
    }
</script>
</body>
</html>